version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
  # Update commit hash
  # https://github.com/soil-kt/soil-docs/pull/18
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    